<h2>Lucas Martins Da Costa</h2>
<h3>Desenvolvedor de Sistemas</h3>

<p>CPF: 105.010.656-36</p>
<p>RG: 16.285.580</p>
<p>Data Nascimento: 01/04/1991</p>
<p>Endereço: Rua Aurora 985, apto 14, Ribeirão Preto/SP</p>
<p>Formação: Ciências da Computação(Andamento)</p>
<p>Experiência Profissional: SMARapd - Desenvolvedor Full Stack .Net/Angular.js</p>
<p>Experiência Profissional: GFT - Analista de Sistema Full Stack .Net/Angular</p>
<a href="https://www.linkedin.com/in/lucas-martins-da-costa-0a9b38212" target="_blank">
    https://www.linkedin.com/in/lucas-martins-da-costa-0a9b38212
</a>

